**/*.map
src/client/app/**/*.js
!src/client/app/assets/*.js
src/client/api/**/*.js
#src/client/in-memory-backend/**/*.js
dist

node_modules
jspm_packages
bower_components
typings

#tests
!**/*.e2e.js
_test-output
_temp

#!**/*e2e-spec.js
#!karma*.js
#!protractor*.js

plnkr.html
#plnkr.no-link.html

npm-debug.log
