**/*.map
src/client/app/**/*.js
src/client/api/**/*.js
#src/client/in-memory-backend/**/*.js
dist

node_modules
jspm_packages
bower_components
typings

!**/*e2e-spec.js
_test-output

plnkr.html
#plnkr.no-link.html

npm-debug.log
